<div class="container-xl ">
  <h2 class="text-center">USERS</h2>
  <div class="text-right">
    <a [routerLink]="'/users/create/'" class="btn btn-primary mb-3">Create new user</a>
  </div>
  <table class="table table-bordered">
    <tr>
      <th>User Id</th>
      <th>User name</th>
      <th>User address</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let u of response">
      <td>{{u.id}}</td>
      <td>{{u.name}}</td>
      <td>{{u.address}}</td>
      <td class="text-center"><a class="btn btn-warning" [routerLink]="'/users/edit/' + u.id">Edit</a></td>
      <td class="text-center"><a class="btn btn-danger" [routerLink]="'/users/delete/' + u.id">Delete</a></td>
    </tr>
  </table>
</div>
